@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Pacifico&display=swap%27');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #273c75;
    border: none;
}

.buton_setari{
    color:#828282;
}

.buton_setari:hover{
    color:white;
}

.font-logo {
    font-family: 'EB Garamond', serif;
    font-size:30px;
}